body{
    /* background-image: url(../images/Lobby_fon.jpg); */
    background-image: url(https://img.freepik.com/premium-vector/blue-sea-ocean-things-seamless-pattern-background_463290-453.jpg);
    color: coral;
    text-align: center;
    font-family: "Rubik Burned", system-ui;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 155px;
}
a{
    color: rgb(216, 216, 90);
    text-decoration: none;
    border:12px solid rgb(27 198 234 / 61%);
    border-radius: 12px;
    background-color: rgb(118 255 154 / 20%);
    font-size: 100px;
    -webkit-text-stroke: 1px black;
    transition: transform .6s cubic-bezier(.68, -.55, .27, 1.55), all .3s ease;
}

a:hover{transform: scale(1.5);
    background: rgb(58, 193, 247);
    color: orange;

}