body{
    background-image: url(../images/Registr_fon3.jpg);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;

}

.card {
    background-color: rgb(138, 173, 241);
    padding: 30px;
    border: solid black 3px;
    border-radius: 15px;
    width: 400px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1{
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 10px;
}

.user-form
{
    display: flex;
    flex-direction: column;
    gap: 8px; 
    text-align: left; 
}

label {
    font-weight: bold;
    font-size: 16px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    font-family: inherit;
}

button {
    margin-top: 15px;
    padding: 12px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #3e5871;
}

.perehod {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.perehod a {
    color: rgb(0, 0, 150);
    text-decoration: none;
}